<div class="account-container">

  <aside class="account-sidebar">
    <div class="user-card">
      <div class="avatar"><img src="<%= userDetails.avatar %>" alt="dp"></div>
      <h4><%= userDetails.full_name %></h4>
      <p><%= userDetails.email %></p>
    </div>

    <ul class="profile-menu">
      <li class="<%= title === 'User Profile' ? 'active' : '' %>">
        <a href="/user/profile">Personal Information</a>
      </li>
      <li class="<%= title === 'User Addresses' ? 'active' : '' %>">
        <a href="/user/address">Addresses</a>
      </li>
      <li class="<%= title === 'User Wishlist' ? 'active' : '' %>">
        <a href="/user/wishlist">Wishlist</a>
      </li>
      <li class="<%= title === 'User Orders' ? 'active' : '' %>">
        <a href="/user/orders">Order History</a>
      </li>
      <li class="logout">
        <form action="/user/logout" method="post">
        <button id="logoutBtn" type="submit"><strong>Logout</strong></button>
        </form>
      </li>
    </ul>
  </aside>

  <main class="account-content">
    <%- include("../pages/profile/" + view) -%>
  </main>

</div>