<header class="header">
  <div class="header-left">
    <div class="hamburger-icon" id="hamburger">☰</div>

    <nav class="main-nav">
      <a href="/" class="nav-link">Home</a>
      <a href="/shop" class="nav-link">Shop</a>
    </nav>
  </div>

  <a href="/" class="logo">JerseyGarage</a>

  <div class="header-right">
    <a href="#" class="search">
      <img src="/images/user/header/search-logo.png" alt="search" style="width: 20px; height: 20px;">
      <span class="search-text">Search</span>
    </a>
    <a href="<%= user ? '/user/profile' : '/login' %>" class="account"><img src="/images/user/header/profile-logo.png" alt="profile" style="width: 22px; height: 21px;"></a>
    <a href="<%= user ? '/user/profile' : '/login' %>" class="cart">
      <img src="/images/user/header/cart-logo.png" alt="cart" style="width: 25px; height: 25px;">
      <span class="cart-count">0</span>
    </a>
  </div>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-header">
      <h2>Menu</h2>
      <span class="close-btn" id="closeBtn">&times;</span>
    </div>

    <div class="menu-container">
      <div class="section-title">Menu</div>
      <a href="/" class="menu-item"><span class="icon"><img src="/images/user/header/home-logo.png" alt="home" style="width: 25px;"></span> Home</a>
      <a href="/shop" class="menu-item"><span class="icon"><img src="/images/user/header/shop-logo.png" alt="shop" style="width: 27px;"></span> Shop</a>
      <a href="#" class="menu-item"><span class="icon"><img src="/images/user/header/wishlist-logo.png" alt="wishlist" style="width: 27px ;"></span> Wishlist</a>
      <a href="#" class="menu-item"><span class="icon"><img src="/images/user/header/about-logo.png" alt="about" style="width: 27px ;"></span> About</a>

      <div class="section-title">Categories</div>
      <% sideBarCategories.forEach((cat)=>{ %>
      <a href="http://localhost:3000/shop?category=<%= cat.name %>" class="category-item"><%= cat.name %> <span>›</span></a>
      <% }) %>
    </div>

    <div class="sidebar-footer">
      <a href="<%= user ? '/user/profile' : '/login' %>" class="sidebar-footer-btn account-btn"> Account</a>
      <a href="<%= user ? '/user/profile' : '/login' %>" class="sidebar-footer-btn cart-btn"> Cart</a>
    </div>
  </div>
</header>

<!-- Overlay -->
<div class="overlay" id="overlay"></div>

<script src="/js/user/header.js"></script>
