<div class="product-page">

    <!-- TOP SECTION -->
    <div class="product-top">

        <!-- LEFT IMAGES -->
        <div class="product-images">
            <div class="img-zoom-container">
                <img class="main-img" src="<%= product[0].images[0] %>" />
            </div>

            <div class="thumbs">
                <% product[0].images.forEach((image, index)=> { %>
                    <img src="<%= image %>" class="thumb <%= index === 0 ? 'active' : '' %>">
                    <% }) %>
            </div>
        </div>



        <!-- RIGHT DETAILS -->
        <div class="product-info">
            <p class="breadcrumb">
                HOME / FEATURED / MANCHESTER UNITED 2001/2002 AWAY KIT BECKHAM POLO
            </p>

            <h1>
                <%= product[0].name %>
            </h1>

            <div class="price">
                <% let selectedVariant=null; const sizes=["S", "M" , "L" , "XL" , "XXL" ]; for (let size of sizes) {
                    const match=product[0].variants.find( v=> v.size === size && v.is_available === true);

                    if (match) {
                    selectedVariant = match;
                    break;
                    }
                    }
                    %>

                    <% if (selectedVariant) { %>
                        <span class="old" id="normalPrice">₹<%= selectedVariant.normal_price %></span>
                        <span class="new" id="basePrice">₹<%= selectedVariant.base_price %></span>
                        <% } else { %>
                            <span class="new">Out of stock</span>
                            <% } %>

            </div>

            <ul class="features">
                <% const des=product[0].description.split(/\r?\n/); des.forEach((item)=>{ %>

                    <li>
                        <%= item %>
                    </li>
                    <%})%>
            </ul>

            <div class="sizes">
                <p>Size :</p>
                <% console.log(product[0].variants) %>
                    <!-- <div class="size-box">
                        <button class="<%= selectedVariant.size === 'S' ? 'active' : '' %>"><strong>S</strong></button>
                        <button class="<%= selectedVariant.size === 'M' ? 'active' : '' %>"><strong>M</strong></button>
                        <button class="<%= selectedVariant.size === 'L' ? 'active' : '' %>"><strong>L</strong></button>
                        <button class="<%= selectedVariant.size === 'XL' ? 'active' : '' %>"><strong>XL</strong></button>
                        <button class="<%= selectedVariant.size === 'XXL' ? 'active' : '' %>"><strong>XXL</strong></button>
                    </div> -->
                    <div class="size-box">
                        <button data-size="S"
                            class="size-btn <%= selectedVariant?.size === 'S' ? 'active' : '' %>"><strong>S</strong></button>
                        <button data-size="M"
                            class="size-btn <%= selectedVariant?.size === 'M' ? 'active' : '' %>"><strong>M</strong></button>
                        <button data-size="L"
                            class="size-btn <%= selectedVariant?.size === 'L' ? 'active' : '' %>"><strong>L</strong></button>
                        <button data-size="XL"
                            class="size-btn <%= selectedVariant?.size === 'XL' ? 'active' : '' %>"><strong>XL</strong></button>
                        <button data-size="XXL"
                            class="size-btn <%= selectedVariant?.size === 'XXL' ? 'active' : '' %>"><strong>XXL</strong></button>
                    </div>

            </div>

            <button class="cart-btn">
                Add to Cart
            </button>

            <button class="buy-btn">
                Buy Now
            </button>

            <div class="meta">
                <p><strong>Category:</strong>
                    <%= product[0].category_details[0].name %>
                </p>
                <p><strong>Team:</strong>
                    <%= product[0].teamName %>
                </p>
            </div>
        </div>
    </div>

    <!-- TABS -->
    <div class="tabs">
        <span class="active">Description</span>
        <span>Additional Information</span>
        <span>Reviews (0)</span>
    </div>

    <!-- SIZE TABLE -->
    <table class="size-table">
        <thead>
            <tr>
                <th>Size</th>
                <th>Chest</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>S</td>
                <td>36</td>
            </tr>
            <tr>
                <td>M</td>
                <td>38</td>
            </tr>
            <tr>
                <td>L</td>
                <td>40</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>42</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>44</td>
            </tr>
        </tbody>
    </table>


    <!-- Related -->
    <section class="related">
        <h2>Related Products</h2>
        <div class="related-grid">


            <% relatedProducts.forEach((product)=> {%>
                <a href="/product/<%= product._id %>">
                    <div class="product-item">
                        <img src="<%=product.images[0]%>" alt="<%=product.name%>">
                        <div class="product-details">
                            <p class="product-name">
                                <%=product.name%>
                            </p>
                            <div class="price-section">
                                <p class="product-price-normal">
                                    <% const sVariant=product.variants.find(v=> v.size === "L");
                                        %>

                                        <%=`₹${sVariant.normal_price}` %>
                                </p>
                                <p class="product-price-base">
                                    <% const lVariant=product.variants.find(v=> v.size === "L");
                                        %>

                                        <%=`₹${lVariant.base_price}` %>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <% }) %>
        </div>
    </section>

</div>
<script>
    const variants = <%- JSON.stringify(product[0].variants) %>;
</script>