<div class="product-page">

    <!-- TOP SECTION -->
    <div class="product-top">

        <!-- LEFT IMAGES -->
        <div class="product-images">
            <div class="img-zoom-container">
                <% if(user){ %>
                    <div class="product-actions">
                        <button class="wishlist-btn" title="Add to Wishlist">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                    </div>
                    <%}%>

                        <img class="main-img" src="<%= product[0].images[0] %>" />
            </div>

            <div class="thumbs">
                <% product[0].images.forEach((image, index)=> { %>
                    <img src="<%= image %>" class="thumb <%= index === 0 ? 'active' : '' %>">
                    <% }) %>
            </div>
        </div>



        <!-- RIGHT DETAILS -->
        <div class="product-info">
            <p class="breadcrumb">
                <% breadcrumbs.forEach((c, i)=> { %>
                    <% if (c.url) { %>
                        <a href="<%= c.url %>">
                            <%= c.label %>
                        </a>
                        <% } else { %>
                            <span>
                                <%= c.label %>
                            </span>
                            <% } %>

                                <% if (i < breadcrumbs.length - 1) { %>
                                    <span>/</span>
                                    <% } %>
                                        <% }) %>

            </p>

            <h1>
                <%= product[0].name %>
            </h1>



            <div class="price">

                <% let selectedVariant=null; const sizes=["S", "M" , "L" , "XL" , "XXL" ]; for (let size of sizes) {
                    const match=product[0].variants.find( v=> v.size === size && v.is_available === true);

                    if (match) {
                    selectedVariant = match;
                    break;
                    }
                    }
                    %>

                    <% if(product[0].is_active===true){ if (selectedVariant) { %>
                        <span class="old" id="normalPrice">₹<%= selectedVariant.normal_price %></span>
                        <span class="new" id="basePrice">₹<%= selectedVariant.base_price %></span>
                        <p id="stock" style="font-size: smaller;">
                            Only <%= selectedVariant.stock %> left in stock
                        </p>
                        <% } else { %>
                            <span class="new">Out of stock</span>
                            <% }} else{ %>
                                <span class="new">Currently Unavailable</span>
                                <%}%>
            </div>

            <ul class="features">
                <% const des=product[0].description.split(/\r?\n/); des.forEach((item)=>{ %>

                    <li>
                        <%= item %>
                    </li>
                    <%})%>
            </ul>

            <div class="sizes" data-variants="<%- encodeURIComponent(JSON.stringify(product[0].variants)) %>"
                data-active="<%= product[0].is_active %>">
                <p>Size :</p>
                <div class="size-box">
                    <button data-size="S" class="size-btn <%= selectedVariant?.size === 'S' ? 'active' : '' %>"
                        data-variant-id="<%= product[0].variants.find(v => v.size === 'S')._id %>"><strong>S</strong></button>
                    <button data-size="M" class="size-btn <%= selectedVariant?.size === 'M' ? 'active' : '' %>"
                        data-variant-id="<%= product[0].variants.find(v => v.size === 'M')._id %>"><strong>M</strong></button>
                    <button data-size="L" class="size-btn <%= selectedVariant?.size === 'L' ? 'active' : '' %>"
                        data-variant-id="<%= product[0].variants.find(v => v.size === 'L')._id %>"><strong>L</strong></button>
                    <button data-size="XL" class="size-btn <%= selectedVariant?.size === 'XL' ? 'active' : '' %>"
                        data-variant-id="<%= product[0].variants.find(v => v.size === 'XL')._id %>"><strong>XL</strong></button>
                    <button data-size="XXL" class="size-btn <%= selectedVariant?.size === 'XXL' ? 'active' : '' %>"
                        data-variant-id="<%= product[0].variants.find(v => v.size === 'XXL')._id %>"><strong>XXL</strong></button>
                </div>

                <div class="quantity-box">
                    <button type="button" class="qty-btn" id="qty-minus">−</button>

                    <input type="number" id="quantity" name="quantity" value="1" min="1" />

                    <button type="button" class="qty-btn" id="qty-plus">+</button>
                </div>

            </div>

            <button data-product-id="<%= product[0]._id %>" class="cart-btn">
                Add to Cart
            </button>

            <button data-product-id="<%= product[0]._id %>" class="buy-btn">
                Buy Now
            </button>

            <div class="meta">
                <p><strong>Category:</strong>
                    <%= product[0].category_details[0].name %>
                </p>
                <p><strong>Team:</strong>
                    <%= product[0].teamName %>
                </p>
            </div>
        </div>
    </div>

    <!-- TABS -->
    <div class="tabs">
        <span class="active">Description</span>
        <span>Additional Information</span>
        <span>Reviews (0)</span>
    </div>

    <!-- SIZE TABLE -->
    <table class="size-table">
        <thead>
            <tr>
                <th>Size</th>
                <th>Chest</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>S</td>
                <td>36</td>
            </tr>
            <tr>
                <td>M</td>
                <td>38</td>
            </tr>
            <tr>
                <td>L</td>
                <td>40</td>
            </tr>
            <tr>
                <td>XL</td>
                <td>42</td>
            </tr>
            <tr>
                <td>XXL</td>
                <td>44</td>
            </tr>
        </tbody>
    </table>


    <!-- Related -->
    <section class="related">
        <h2>Related Products</h2>
        <div class="related-grid">


            <% relatedProducts.forEach((product)=> {%>
                <a href="/product/<%= product._id %>">
                    <div class="product-item">

                        <img src="<%=product.images[0]%>" alt="<%=product.name%>">

                        <div class="product-details">
                            <p class="product-name">
                                <%= product.name %>
                            </p>

                            <div class="price-section">
                                <p class="product-price-normal">
                                    <% const sVariant=product.variants.find(v=> v.size === "S"); %>
                                        ₹<%= sVariant.normal_price %>
                                </p>

                                <p class="product-price-base">
                                    <% const lVariant=product.variants.find(v=> v.size === "S"); %>
                                        ₹<%= lVariant.base_price %>
                                </p>
                            </div>

                            <!-- ADD TO CART BUTTON -->
                            <button class="add-to-cart-btn">
                                <i class="fa-solid fa-cart-shopping"></i>
                                Add to Cart
                            </button>
                        </div>
                    </div>

                </a>

                <% }) %>
        </div>
    </section>

</div>