<section class="body">

    <div class="shop-wrapper">

        <div class="layout">

            <aside class="filters-box">

                <h2>Filter</h2>
                <div class="dropdown" id="catDD">
                    <button class="dropdown-toggle" onclick="toggleDD('catDD')">
                        Categories <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <% categories.forEach((category)=> { %>
                            <label><input type="radio" name="categories" value="<%= category.name %>"
                                    <%=selectedCategory===category.name ? "checked" : "" %>
                                >

                                <%=category.name%>
                            </label>
                            <%})%>
                    </div>
                </div>

                <div class="dropdown" id="teamDD">
                    <button class="dropdown-toggle" onclick="toggleDD('teamDD')">
                        Teams <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <% const uniqueTeams=new Set(); %>

                            <% teamNames.forEach(team=> { %>
                                <% if (!uniqueTeams.has(team.teamName)) { %>
                                    <% uniqueTeams.add(team.teamName); %>
                                        <label>
                                            <input type="radio" name="team" value="<%= team.teamName %>"
                                                <%=selectedTeam===team.teamName ? "checked" : "" %>
                                            >
                                            <%= team.teamName %>
                                        </label>
                                        <% } %>
                                            <% }) %>
                    </div>
                </div>

                <div class="filter-section">
                    <p class="filter-title">Size</p>
                    <div class="filter-content">
                        <label><input type="radio" name="size" value="S" <%=selectedSize==="S" ? "checked" : "" %>>
                            S</label>
                        <label><input type="radio" name="size" value="M" <%=selectedSize==="M" ? "checked" : "" %>>
                            M</label>
                        <label><input type="radio" name="size" value="L" <%=selectedSize==="L" ? "checked" : "" %>>
                            L</label>
                        <label><input type="radio" name="size" value="XL" <%=selectedSize==="XL" ? "checked" : "" %>>
                            XL</label>
                        <label><input type="radio" name="size" value="XXL" <%=selectedSize==="XXL" ? "checked" : "" %>>
                            XXL</label>
                    </div>
                </div>

                <div class="filter-section">
                    <p class="filter-title">Price Range</p>
                    <div class="price-slider">
                        <div class="range-container">
                            <input type="range" id="minRange" name="minRange" min="0" max="2000"
                                value="<%= minRange %>">
                            <input type="range" id="maxRange" name="maxRange" min="0" max="2000"
                                value="<%= maxRange %>">
                        </div>
                        <p id="priceDisplay">₹0 - ₹2000</p>
                    </div>
                </div>

                <div class="bw-btn-group">
                    <button type="button" class="btn-clear">Clear</button>
                    <button type="button" class="btn-apply">Apply</button>
                </div>


            </aside>

            <div>

                <h1 class="page-title">Shop Jerseys</h1>
                <p class="page-subtitle">Discover your perfect jersey</p>

                <!-- <div class="top-bar"> -->
                <div>

                    <!-- <div class="search-box" >
                        <input type="text" id="searchInput" class="product-search" placeholder="Search products...">
                    </div>

                    <div><button type="button" class="btn-apply search-apply">Apply</button></div> -->

                    <div class="div-custom-dropdown">
                        <div class="custom-dropdown" id="sortDropdown">
                            <div class="dropdown-selected" data-value="<%= selectedSort %>">
                                <%= selectedSort==="price_low" ? "Price: Low to High" : selectedSort==="price_high"
                                    ? "Price: High to Low" : selectedSort==="az" ? "A-Z" : selectedSort==="za" ? "Z–A"
                                    : "All" %>
                                    <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <ul class="dropdown-options">
                                <li data-value="all">All</li>
                                <li data-value="price_low">Price: Low to High</li>
                                <li data-value="price_high">Price: High to Low</li>
                                <li data-value="az">A-Z</li>
                                <li data-value="za">Z-A</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="shop-grid">

                    <% products.forEach((product)=> { %>
                        <a href="/product/<%= product._id %>">
                            <div class="product-item">
                                <img src="<%=product.images[0]%>" alt="<%=product.name%>">
                                <div class="product-details">
                                    <p class="product-name">
                                        <%=product.name%>
                                    </p>
                                    <div class="price-section">
                                        <p class="product-price-normal">
                                            <% const sVariant=product.variants.find(v=> v.size === "S");
                                                %>

                                                <%=`₹${sVariant.normal_price}` %>
                                        </p>
                                        <p class="product-price-base">
                                            <% const lVariant=product.variants.find(v=> v.size === "S");
                                                %>

                                                <%=`₹${lVariant.base_price}` %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <% }) %>

                            <form method="GET" action="/shop" id="filterForm">
                                <input type="hidden" name="category" id="f-category">
                                <input type="hidden" name="team" id="f-team">
                                <input type="hidden" name="size" id="f-size">
                                <input type="hidden" name="minRange" id="f-minRange">
                                <input type="hidden" name="maxRange" id="f-maxRange">
                                <input type="hidden" name="sort" id="f-sort">
                            </form>


                </div>

            </div>

        </div>
    </div>


    <script src="/js/user/shop.js"></script>

</section>