<section class="body">
    <div class="shop-wrapper">
        <div class="layout">

            <!-- ================= FILTERS ================= -->
            <aside class="filters-box">
                <h2>Filter</h2>

                <!-- CATEGORY -->
                <div class="dropdown" id="catDD">
                    <button class="dropdown-toggle" onclick="toggleDD('catDD')">
                        Categories <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <% categories.forEach(category=> { %>
                            <label>
                                <input type="radio" name="categories" value="<%= category.name %>">
                                <%= category.name %>
                            </label>
                            <% }) %>
                    </div>
                </div>

                <!-- TEAMS -->
                <div class="dropdown" id="teamDD">
                    <button class="dropdown-toggle" onclick="toggleDD('teamDD')">
                        Teams <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <% teamNames.forEach( i => { %>
                            <label>
                                <input type="radio" name="team" value="<%= i.teamName %>">
                                <%= i.teamName %>
                            </label>
                            <% }) %>
                    </div>
                </div>

                <!-- SIZE -->
                <div class="filter-section">
                    <p class="filter-title">Size</p>
                    <div class="filter-content">
                        <% ["S","M","L","XL","XXL"].forEach(size=> { %>
                            <label>
                                <input type="radio" name="size" value="<%= size %>">
                                <%= size %>
                            </label>
                            <% }) %>
                    </div>
                </div>

                <!-- PRICE -->
                <div class="filter-section">
                    <p class="filter-title">Price Range</p>
                    <div class="price-slider">
                        <div class="range-container">
                            <input type="range" id="minRange" min="0" max="1900" value="0">
                            <input type="range" id="maxRange" min="100" max="2000" value="2000">
                        </div>
                        <p id="priceDisplay">₹0 - ₹2000</p>
                    </div>
                </div>

                <div class="bw-btn-group">
                    <a href="/shop"><button type="button" class="btn-clear">Clear</button></a>
                    <button type="button" class="btn-apply">Apply</button>
                </div>
            </aside>

            <!-- ================= PRODUCTS ================= -->
            <div>
                <h1 class="page-title">Shop Jerseys</h1>
                <p class="page-subtitle">Discover your perfect jersey</p>

                <!-- SORT -->
                <div class="div-custom-dropdown">
                    <div class="custom-dropdown" id="sortDropdown">
                        <div class="dropdown-selected">
                            All
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                        <ul class="dropdown-options">
                            <!-- <li data-value="all">All</li> -->
                            <li data-value="price_low">Price: Low to High</li>
                            <li data-value="price_high">Price: High to Low</li>
                            <li data-value="az">A-Z</li>
                            <li data-value="za">Z-A</li>
                        </ul>
                    </div>
                </div>

                <!-- GRID -->
                <div class="shop-grid">



                </div>
                <!-- PAGINATION -->
                <div class="pagination">
                </div>


            </div>
        </div>

        <form id="filterForm">
            <input type="hidden" name="category" id="f-category">
            <input type="hidden" name="team" id="f-team">
            <input type="hidden" name="size" id="f-size">
            <input type="hidden" name="minRange" id="f-minRange">
            <input type="hidden" name="maxRange" id="f-maxRange">
            <input type="hidden" name="sort" id="f-sort">
            <input type="hidden" name="page" id="f-page">
        </form>
    </div>
</section>